@import 'normalize';
@import 'clearfix';
@import 'modal';
@import 'burger';
@import 'slick';
@import 'slick-theme';
@import 'lightgallery';
$sans: 'Open Sans',
sans-serif;
body {}

img {
    max-width: 100%;
}

.home .main-header {
    position: absolute;
    background: none;
    .main-header__menu {
        padding: 17px 0 0px 0;
    }
}

.main-content {
    background-image: url(../images/possibilities-bg.jpg);
    background-repeat: repeat;
    padding-bottom: 20px;
}

.main-header {
    position: relative;
    top: 0;
    z-index: 3;
    width: 100%;
}

.main-header {
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.main-header__feedback {
    padding: 7px 0 11px 0;
    .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    border-bottom: 1px solid #706e6a;
    .social {
        display: inline-block;
        a {
            display: inline-block;
            margin: 0px 0px 0px 6px;
            position: relative;
            vertical-align: middle;
            text-decoration: none;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            &:hover {
                svg path {
                    fill: #ffd800;
                }
            }
            &:last-child:after {
                content: none;
            }
            &:after {
                content: '';
                display: inline-block;
                margin: 0px 8px 6px 22px;
                width: 1px;
                height: 21px;
                vertical-align: middle;
                background-color: #706e6a;
            }
            svg {
                height: 18px;
                width: 24px;
                -webkit-transition: fill .4s ease;
                transition: fill .4s ease;
            }
        }
    }
    .contacts {
        display: inline-block;
        .contacts__block {
            display: inline-block;
            margin-right: 32px;
            span {
                font-size: 14px;
                color: #868686;
            }
            a {
                font-size: 14px;
                color: #d0d0d0;
                text-decoration: none;
            }
        }
        .tel {
            font-size: 14px;
            color: #f9d508;
            text-decoration: none;
            margin-right: 18px;
            vertical-align: middle;
            &:before {
                content: '';
                display: inline-block;
                width: 15px;
                height: 12px;
                background-image: url(../images/phone-receiver-yellow.svg);
                background-repeat: no-repeat;
                background-size: contain;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }
}

.links {
    text-align: center;
    .button-f {
        margin-right: 15px;
        font-weight: 700;
    }
    .button-tr {
        padding: 7px 50px 7px 50px;
        font-weight: 700;
    }
}

.main-header__menu {
    padding: 17px 0 15px 0;
    .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    nav {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    padding: 5px 0px 5px 0px;
                    margin-left: 45px;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #fff;
                    text-decoration: none;
                    position: relative;
                    -webkit-transition: color .4s ease;
                    transition: color .4s ease;
                    &:hover::before {
                        width: 50%;
                        left: 0;
                    }
                    &:hover::after {
                        width: 50%;
                    }
                    &:hover {
                        color: #f9d508;
                    }
                    &:before {
                        display: block;
                        position: absolute;
                        content: "";
                        height: 2px;
                        width: 0;
                        background-color: #f9d508;
                        -webkit-transition: width .5s ease-in-out, left .5s ease-in-out;
                        transition: width .5s ease-in-out, left .5s ease-in-out;
                        left: 50%;
                        bottom: 0;
                    }
                    &:after {
                        display: block;
                        position: absolute;
                        content: "";
                        height: 2px;
                        width: 0;
                        background-color: #f9d508;
                        -webkit-transition: width .5s ease-in-out;
                        transition: width .5s ease-in-out;
                        left: 50%;
                        bottom: 0;
                    }
                }
            }
        }
    }
}

.button-tr {
    -webkit-transition: border-color 0.4s, color 0.4s;
    transition: border-color 0.4s, color 0.4s;
    display: inline-block;
    position: relative;
    border: 1px solid #f9d508;
    text-decoration: none;
    padding: 6px 41px 7px 41px;
    background-color: transparent;
    border-radius: 24px;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    &.button-b {
        color: #565656;
    }
}

.button-tr::before {
    content: '';
    position: absolute;
    border-radius: 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f9d508;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button-tr:hover {
    color: #000;
}

.button-tr:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.button-tr,
.button-tr::before {
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.banner {
    .banner-item {
        min-height: 662px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        position: relative;
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            position: absolute;
        }
    }
    .banner-item__desc {
        position: relative;
        z-index: 2;
    }
    .links {}
    .title {
        color: #fff;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 700;
        span {
            display: block;
            text-align: center;
        }
        .small {
            font-size: 24px;
            padding: 19px 0 30px 0;
        }
    }
}

.services {
    border-bottom: 1px solid #d6d6d6;
    .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .services-item {
        display: inline-block;
        width: 200px;
        height: 140px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        position: relative;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        .services-item__image {
            display: inline-block;
            min-height: 90px;
            width: 100%;
            position: relative;
            padding: 30px 0px 0px 0px;
            z-index: 2;
            svg {
                height: 50px;
                width: 50px;
                -webkit-transition: fill .4s ease;
                transition: fill .4s ease;
            }
        }
        .services-item__title {
            display: inline-block;
            width: 100%;
            padding: 0px 0 0px 0;
            font-size: 12px;
            color: #696969;
            position: relative;
            z-index: 2;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }
        &:hover {
            &:before {
                background-color: rgba(255, 255, 255, 0.9);
            }
            .services-item__image {
                svg {
                    fill: #f9d508;
                }
            }
            .services-item__title {
                color: #f9d508;
            }
        }
        &:before {
            content: '';
            -webkit-transition: .4s;
            transition: .4s;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 1);
            position: absolute;
        }
        &.services-item--1 {
            background-image: url(../images/item1.jpg);
            svg {
                height: 35px;
                width: 44px;
            }
        }
        &.services-item--2 {
            background-image: url(../images/item2.jpg);
            svg {
                width: 78px;
                height: 50px;
            }
        }
        &.services-item--3 {
            background-image: url(../images/item3.jpg);
            svg {
                width: 40px;
                height: 40px;
            }
        }
        &.services-item--4 {
            background-image: url(../images/item4.jpg);
            svg {
                width: 62px;
                height: 54px;
            }
        }
        &.services-item--5 {
            background-image: url(../images/item5.jpg);
            svg {
                width: 34px;
                height: 34px;
            }
        }
        &.services-item--6 {
            background-image: url(../images/item6.jpg);
            svg {
                width: 71px;
                height: 58px;
            }
        }
    }
}

.works {
    .works-item {
        min-height: 225px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }
}

.content-block {
    background-image: url(../images/possibilities-bg.jpg);
    background-repeat: repeat;
    .wrapper {
        text-align: center;
    }
    .button-b {
        margin: 28px 0;
    }
    .tel {
        display: block;
        font-size: 24px;
        color: #2a2a2a;
        text-decoration: none;
        -webkit-transition: .4s;
        transition: .4s;
        text-align: center;
        padding: 57px 0px 43px 0px;
        &:before {
            content: '';
            -webkit-transition: .4s;
            transition: .4s;
            display: inline-block;
            width: 20px;
            height: 23px;
            background-image: url(../images/phone-receiver-black.svg);
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 20px;
            vertical-align: middle;
        }
        &:hover {
            color: #f9d508;
            &:before {
                background-image: url(../images/phone-receiver-yellow.svg);
            }
        }
    }
    p {
        text-align: center;
        font-size: 16px;
        color: #747474;
        max-width: 810px;
        margin: 0 auto;
        line-height: 1.875;
    }
    .content-block__title {
        font-size: 36px;
        color: #2a2a2a;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        padding: 55px 0 35px 0;
        margin: 0;
        &:after {
            content: '';
            display: block;
            width: 103px;
            height: 6px;
            background-color: #ae8c64;
            margin: 25px auto 0px auto;
        }
    }
}

.profits {
    background-image: url(../images/profits.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    .profits__title {
        font-size: 36px;
        color: #2a2a2a;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 50px 0px 0 0;
        &:after {
            content: '';
            display: block;
            width: 103px;
            height: 6px;
            background-color: #ae8c64;
            margin: 27px auto 0px auto;
        }
    }
}

.profits-items {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0;
    .profits-item {
        display: inline-block;
        width: calc(100% / 2);
        vertical-align: top;
        .profits-item__title {
            font-size: 22px;
            color: #2a2a2a;
            position: relative;
            max-width: 320px;
            text-transform: uppercase;
            font-weight: 700;
            &:before {
                display: inline-block;
                content: '';
                width: 32px;
                height: 32px;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: -40px;
            }
        }
        .profits-item__subtitle {
            font-size: 16px;
            color: #020202;
            max-width: 320px;
            line-height: 1.875;
        }
        &.profits-item--1 {
            padding: 45px 108px 15px 70px;
            text-align: right;
            .profits-item__subtitle {
                margin: 10px 0px 1px auto;
            }
            .profits-item__title {
                margin: 0 0 0 auto;
                &:before {
                    background-image: url(../images/big-shield.svg);
                    left: initial;
                    right: -49px;
                    top: -5px;
                }
            }
        }
        &.profits-item--2 {
            padding: 46px 68px 37px 109px;
            .profits-item__subtitle {
                margin: 9px auto 0px 0;
            }
            .profits-item__title {
                &:before {
                    background-image: url(../images/calendar.svg);
                    left: -48px;
                    top: -3px;
                }
            }
        }
        &.profits-item--3 {
            padding: 0px 108px 46px 70px;
            text-align: right;
            .profits-item__subtitle {
                margin: 10px 0px 1px auto;
            }
            .profits-item__title {
                margin: 0 0 0 auto;
                &:before {
                    background-image: url(../images/cash.svg);
                    left: initial;
                    right: -50px;
                    top: 0px;
                }
            }
        }
        &.profits-item--4 {
            padding: 0px 70px 59px 107px;
            .profits-item__subtitle {
                margin: 9px auto 0px 0;
            }
            .profits-item__title {
                &:before {
                    background-image: url(../images/calc.png);
                }
            }
        }
    }
}

.feedback {
    .feedback__title {
        text-align: center;
        h2 {
            display: inline-block;
            margin: 0;
            padding: 43px 15px 43px 10px;
            text-transform: uppercase;
            vertical-align: middle;
        }
    }
}

.feedback-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 0;
    .feedback-item {
        width: calc(100% / 3 - 40px);
        display: inline-block;
        background-color: #ededed;
        border-radius: 12px;
        max-width: 325px;
        position: relative;
        padding: 20px 20px 20px 60px;
        margin: 11px 0px 55px 0;
        &:before {
            content: '';
            display: inline-block;
            height: 32px;
            width: 14px;
            position: absolute;
            left: -13px;
            top: 50%;
            background-image: url(../images/cloud.png);
            -webkit-filter: invert(7%);
            filter: invert(7%);
        }
        .feedback-item__image {
            overflow: hidden;
            position: absolute;
            left: -42px;
            top: 17px;
            width: 85px;
            height: 85px;
            border-radius: 50%;
            box-shadow: 7px 3px 16px 0 rgba(0, 0, 0, 0.35);
        }
        .feedback-item__title {
            font-size: 22px;
            color: #2a2a2a;
            text-transform: uppercase;
            font-weight: 700;
            padding: 5px 0px 11px 0px;
        }
        .feedback-item__excerpt {
            font-size: 14px;
            color: #020202;
            line-height: 1.71428571;
            padding: 0px 0px 12px 1px;
        }
    }
}

.prices-profits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 795px;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0 70px 0;
    .prices-profits-item {
        max-width: 255px;
        text-align: center;
        position: relative;
        .place {
            z-index: 1;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            background-color: #ffd800;
            height: 85px;
            position: absolute;
            top: 68px;
            width: 100%;
            left: 0px;
        }
        .prices-profits-item__image {
            position: relative;
            z-index: 2;
        }
        .prices-profits-item__title {
            font-size: 30px;
            position: relative;
            z-index: 2;
            font-weight: 700;
            color: #2a2a2a;
            padding: 15px 0 12px 0;
            text-transform: uppercase;
        }
        .prices-profits-item__subtitle {
            position: relative;
            z-index: 2;
            font-size: 14px;
            font-weight: 700;
            color: #2a2a2a;
        }
    }
}

.to {
    font-size: 14px;
}

.main-footer {
    position: relative;
    z-index: 4;
    background-image: url(../images/pattern.png);
}

.main-footer__feedback {
    padding: 18px 0px;
    &.main-footer__copyright {
        border-top: 1px solid #706e6a;
    }
    .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    border-bottom: 1px solid #706e6a;
    .social {
        display: inline-block;
        a {
            display: inline-block;
            margin: 0px 0px 0px 6px;
            position: relative;
            vertical-align: middle;
            text-decoration: none;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            &:hover {
                svg path {
                    fill: #ffd800;
                }
            }
            &:last-child:after {
                content: none;
            }
            &:after {
                content: '';
                display: inline-block;
                margin: 0px 8px 6px 22px;
                width: 1px;
                height: 21px;
                vertical-align: middle;
                background-color: #706e6a;
            }
            svg {
                height: 18px;
                width: 24px;
                -webkit-transition: fill .4s ease;
                transition: fill .4s ease;
            }
        }
    }
    .contacts {
        display: inline-block;
        .contacts__block {
            display: inline-block;
            margin-right: 32px;
            span {
                font-size: 14px;
                color: #868686;
            }
            a {
                font-size: 14px;
                color: #d0d0d0;
                text-decoration: none;
            }
        }
        .tel {
            font-size: 14px;
            color: #f9d508;
            text-decoration: none;
            margin-right: 18px;
            &:before {
                content: '';
                display: inline-block;
                width: 15px;
                height: 12px;
                background-image: url(../images/phone-receiver-yellow.svg);
                background-repeat: no-repeat;
                background-size: contain;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }
}

.main-footer-nav-item {
    .main-footer-nav-item__title {
        display: inline-block;
        padding: 33px 10px 15px 0px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            a {
                display: inline-block;
                color: #b7b7b7;
                font-size: 14px;
                padding: 8px 5px 4px 0px;
                text-decoration: none;
                position: relative;
                &:before {
                    display: block;
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: 0;
                    background-color: #f9d508;
                    -webkit-transition: width .5s ease-in-out, left .5s ease-in-out;
                    transition: width .5s ease-in-out, left .5s ease-in-out;
                    left: 50%;
                    bottom: 0;
                }
                &:after {
                    display: block;
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: 0;
                    background-color: #f9d508;
                    -webkit-transition: width .5s ease-in-out;
                    transition: width .5s ease-in-out;
                    left: 50%;
                    bottom: 0;
                }
                &:hover::before {
                    width: 50%;
                    left: 0;
                }
                &:hover::after {
                    width: 50%;
                }
                &:hover {
                    color: #f9d508;
                }
            }
        }
    }
}

.main-footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 0 27px 0;
}

.copyright {
    a {
        color: #868686;
        font-size: 14px;
        text-decoration: none;
    }
}

#carousel {
    height: 572px;
    position: relative;
    width: 100%;
}

#carousel img {
    display: hidden;
    cursor: pointer;
}

.works {
    border-top: 6px solid #ae8c64;
    background-image: url(../images/works-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.works__title {
    text-align: center;
    padding: 28px 0px 20px 0px;
    h2 {
        display: inline-block;
        font-size: 22px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        margin: 19px 20px;
        vertical-align: middle;
    }
    .button-tr {
        font-weight: 700;
    }
}

.certificate__title {
    font-size: 36px;
    color: #2a2a2a;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 55px 0 35px 0;
    margin: 0;
    &:after {
        content: '';
        display: block;
        width: 103px;
        height: 6px;
        background-color: #ae8c64;
        margin: 25px auto 0px auto;
    }
}

.certificate-item {
    width: 255px;
    margin: 0px 0 50px 0;
    box-shadow: 0px 0px 0px 2px #888888, 0px 0px 0px 4px #353535, 0px 0px 0px 6px #6a6a6a, 0px 0px 15px 6px #6a6a6a;
    img {
        width: 100%;
    }
}

.certificate-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.submenu {
    padding-bottom: 29px;
    border-bottom: 1px solid #d6d6d6;
    .title {
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin: 0;
        padding: 36px 0 12px 0;
        text-transform: uppercase;
    }
    .name {
        padding: 0 85px;
        font-weight: 700;
        font-size: 16px;
        color: #2a2a2a;
    }
    .subtitle {
        font-size: 16px;
        color: #747474;
        text-align: center;
        margin: 0;
        padding: 0;
        font-weight: 500;
        &:after {
            content: '';
            display: block;
            width: 103px;
            height: 6px;
            background-color: #ae8c64;
            margin: 22px auto 30px auto;
        }
    }
    ul {
        padding: 5px 85px;
        margin: 0;
        list-style: none;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 90px;
        -moz-column-gap: 90px;
        column-gap: 90px;
        li {
            a {
                font-weight: 700;
                font-size: 14px;
                color: #216fb7;
                padding: 7px 0px 7px 0;
                display: inline-block;
            }
        }
    }
}

.maps-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 60px;
    .maps-item {
        display: inline-block;
        padding: 52px 10px 0px 10px;
        .maps-item__name {
            font-weight: 700;
            font-size: 24px;
            text-transform: uppercase;
            color: #2f2f2f;
            position: relative;
            &:before {
                content: '';
                height: 35px;
                width: 30px;
                display: inline-block;
                background-image: url(../images/location-pin.svg);
                background-size: cover;
                position: absolute;
                background-repeat: no-repeat;
                left: -48px;
                top: -5px;
            }
        }
        .maps-item__tel {
            font-weight: 700;
            font-size: 16px;
            color: #216fb7;
            display: inline-block;
            padding: 15px 0px 22px 0px;
            text-decoration: none;
            &:before {
                content: '';
                height: 20px;
                width: 30px;
                display: inline-block;
                background-image: url(../images/phone-receiver-blue.svg);
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 8px;
            }
        }
        .maps-item__address {
            font-weight: 700;
            font-size: 14px;
            color: #2a2a2a;
            text-transform: uppercase;
            max-width: 295px;
            padding-bottom: 24px;
        }
        .maps-item__map {}
    }
}

.block-content-port {
    .block-content-port__title {
        text-transform: uppercase;
        font-size: 22px;
        color: #2a2a2a;
        margin: 0;
        padding-top: 39px;
        &:after {
            content: '';
            display: block;
            width: 103px;
            height: 6px;
            background-color: #ae8c64;
            margin: 22px 0 30px 0;
        }
    }
    p {
        max-width: 661px;
        margin: 32px 2px;
        line-height: 1.9;
    }
    .tel {
        display: block;
        font-size: 24px;
        color: #2a2a2a;
        text-decoration: none;
        -webkit-transition: .4s;
        transition: .4s;
        padding: 4px 0px 43px 0px;
        &.tel--repair {
            padding: 4px 0px 0px 0px;
        }
        &:before {
            content: '';
            -webkit-transition: .4s;
            transition: .4s;
            display: inline-block;
            width: 20px;
            height: 23px;
            background-image: url(../images/phone-receiver-black.svg);
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 20px;
            vertical-align: middle;
        }
    }
}

.portfolio-items {
    font-size: 0;
}

.portfolio-item {
    margin-bottom: 24px;
}

.portfolio-item__title {
    h3 {
        display: inline-block;
        font-size: 22px;
        font-weight: 700;
        color: #2a2a2a;
        text-transform: uppercase;
        margin: 19px 62px 20px 0px;
        vertical-align: middle;
    }
    .portfolio-item__images {
        font-size: 0;
    }
}

.portfolio-item__image__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 300px;
    height: 225px;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
        .description-object {
            opacity: 1;
        }
    }
    .description-object {
        width: 150px;
        height: 200px;
        margin: 0px 14px;
        background-color: rgba(0, 0, 0, .70);
        position: relative;
        opacity: 0;
        -webkit-transition: .4s;
        transition: .4s;
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 150px;
            width: 0;
            height: 0;
            border-top: 200px solid rgba(0, 0, 0, .70);
            border-right: 58px solid transparent;
        }
        .description-object__title {
            font-size: 12px;
            color: #fff;
            padding: 22px 15px 8px 15px;
        }
        .description-object__value {
            font-size: 16px;
            color: #ffd800;
            padding: 0px 17px;
        }
    }
}

.price-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    th:last-child {
        background-color: #ffc600;
    }
    td:last-child {
        border-right: none;
    }
    th {
        background-color: #ffd800;
        padding: 19px 5px 17px 31px;
        text-align: left;
    }
    td {
        padding: 18px 5px 16px 32px;
        border-right: 1px solid #dedede;
    }
    tr:nth-child(2n+1) {
        background-color: #e4e4e4;
    }
    tr:nth-child(2n) {
        background-color: #f2f2f2;
    }
}

.content-inset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .text {
        width: calc(100% - 320px);
        display: inline-block;
        vertical-align: top;
    }
    .sidebar {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
        flex: 0 1 320px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        display: inline-block;
        vertical-align: top;
    }
}

.order {
    h3 {
        margin: 0;
        padding: 38px 0 9px 0px;
        text-transform: uppercase;
        color: #2f2f2f;
        font-weight: 700;
        font-size: 24px;
    }
    p {
        padding: 12px 0px;
        margin: 0;
        font-size: 16px;
        color: #282828;
        max-width: 256px;
        line-height: 1.37500;
    }
    .agree {
        font-size: 13px;
        padding-left: 9px;
    }
    .agree-check {
        padding: 14px 20px;
    }
    input[name=phone] {
        background-image: url(../images/phone-call.svg);
        background-size: 19px;
        background-position: 10px 7px;
        background-repeat: no-repeat;
    }
    input[name=name] {
        background-image: url(../images/user.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 19px;
        background-position: 10px 7px;
    }
    input[type=checkbox] {}
    input[type=text] {
        width: 260px;
        border: 1px solid #e2e2e2;
        background-color: #efefef;
        margin: 12px 8px 0px 0px;
        padding: 8px 46px;
        display: block;
    }
    button {
        width: 260px;
        border: none;
        background-color: #ffd800;
        font-size: 13px;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        padding: 10px 0;
    }
    input::-webkit-input-placeholder {
        color: #929292;
        font-size: 14px;
    }
    input::-moz-placeholder {
        color: #929292;
        font-size: 14px;
    }
    input:-moz-placeholder {
        color: #929292;
        font-size: 14px;
    }
    input:-ms-input-placeholder {
        color: #929292;
        font-size: 14px;
    }
}

.type-works {
    font-size: 0;
    .type-works-item {
        border: 1px solid #d7d7d7;
        width: calc(100% / 3);
        display: inline-block;
        position: relative;
        transition: .4s;
        &:after {
            content: "";
            background: url(../images/typework1.jpg);
            opacity: 0;
            transition: .4s;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: 0;
        }
        transition: background-image 0.4s ease-in-out;
        &:hover {
            &:after {
                opacity: 1;
            }
            p {
                color: #fff;
            }
            .type-works-item__title {
                color: #fff;
            }
            .type-works-item__title:before {
                filter: contrast(50%);
            }
        }
        p {
            color: #626262;
            font-size: 14px;
            max-width: 333px;
            line-height: 1.57142857;
            margin: 0;
            padding: 5px 0px 30px 76px;
            position: relative;
            z-index: 2;
        }
        .type-works-item__title {
            font-weight: 700;
            font-size: 16px;
            color: #2f2f2f;
            vertical-align: middle;
            text-transform: uppercase;
            position: relative;
            z-index: 2;
            &:before {
                content: '';
                display: inline-block;
                width: 50px;
                height: 50px;
                background-image: url(../images/polygon.png);
                background-position: 50%;
                background-repeat: no-repeat;
                vertical-align: middle;
                padding: 16px 11px 16px 11px;
            }
            &:after {
                content: '';
                display: block;
                width: 57px;
                height: 1px;
                background-color: #ae8c64;
                margin: 0px 0 4px 75px;
            }
        }
    }
}

#nav-icon1 {
    display: none;
}

#nav-icon1 {
    width: 45px;
    height: 45px;
    position: relative;
    margin: 5px 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #ffd800;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 8px;
}

#nav-icon1 span:nth-child(2) {
    top: 20px;
}

#nav-icon1 span:nth-child(3) {
    top: 32px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.main-header__menu nav.mobile-menu {
    display: none;
    flex: 0 0 100%;
    li {
        display: block;
        a{
           padding: 14px 0px;
        }
    }
    &.open {
    }
}

@import 'media-requests';