@media screen and (max-width:1250px) {
    .main-header__menu nav ul li a {
        padding: 5px 10px 5px 10px;
        margin-left: 30px;
    }
    .copyright {
        padding: 10px 10px;
    }
    .main-header__feedback .contacts {
        padding: 0px 10px;
    }
    .logo {
        padding: 0px 10px;
    }
    .feedback-items .feedback-item {
        margin: 11px 10px 55px 45px;
        width: calc(100% / 3 - 0px);
    }
    .main-footer-nav-item ul li a {
        padding: 8px 10px 4px 10px;
    }
    .main-footer-nav-item .main-footer-nav-item__title {
        padding: 33px 10px 15px 10px;
    }
    .block-content-port {
        padding: 0px 10px;
    }
    .portfolio-items {
        padding: 0px 10px;
    }
    .portfolio-item__image__item {
        width: 270px;
    }
}

@media screen and (max-width:1180px) {
    .feedback-items .feedback-item {
        width: calc(100% / 2 - 0px);
    }
    .certificate-item {
        width: 200px;
        margin: 0px 10px 50px 10px;
    }
}

@media screen and (max-width:1150px) {
    .feedback-items .feedback-item {
        width: calc(100% / 2 - 0px);
    }
}

@media screen and (max-width:1145px) {
    .main-header__menu nav ul li a {
        padding: 5px 10px 5px 10px;
        margin-left: 0px;
    }
}

@media screen and (max-width:1024px) {
    .banner .banner-item {
        min-height: 420px;
    }
    .banner .title {
        font-size: 28px;
    }
    .banner .title .small {
        font-size: 18px;
    }
}

@media screen and (max-width:970px) {
    .main-header__menu nav ul li a {
        padding: 5px 5px 5px 5px;
        margin-left: 0px;
    }
    .main-header__menu nav ul {
        margin-left: 20px;
    }
}

@media screen and (max-width:900px) {
    .type-works .type-works-item{
            width: calc(100% / 2);
    }
}

@media screen and (max-width:750px) {
    .profits-items .profits-item {
        width: calc(100% / 1);
    }
    .profits .profits__title {
        font-size: 26px;
    }
    .content-block .content-block__title {
        font-size: 26px;
    }
    .certificate__title {
        font-size: 26px;
    }
    .main-footer__feedback .contacts {
        display: inline-block;
        text-align: right;
        padding: 0px 5px;
    }
    .content-inset .sidebar {
        flex: 0 1 100%;
        padding: 10px;
    }
    .content-inset .text {
        width: 100%;
    }
}

@media screen and (max-width:720px) {
    .submenu ul {
        column-count: 2;
    }
}

@media screen and (max-width:705px) {
    .main-header__feedback .contacts {
        padding: 5px 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:650px) {
    .feedback-items .feedback-item {
        width: calc(100% / 1 - 0px);
    }
    .type-works .type-works-item{
            width: calc(100% / 1);
    }
}

@media screen and (max-width:620px) {
    .prices-profits .prices-profits-item {
        margin-bottom: 60px;
    }
    .main-header__menu__nav {
        display: none;
    }
    #nav-icon1 {
        display: inline-block;
    }
}

@media screen and (max-width:600px) {
    .submenu .title {
        font-size: 24px;
    }
    .submenu ul {
        column-gap: 15px;
    }
    .maps-items .maps-item {
        margin-left: 36px;
    }
    table thead {
        display: none;
    }
    table tr {
        display: block;
    }
    table td {
        display: block;
        text-align: right;
        font-weight: 500;
        border-bottom: 1px dotted #ccc;
        font-size: 12px;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: 700;
    }
}

@media screen and (max-width:534px) {
    .contacts .button-tr {
        margin: 20px auto 0px auto;
    }
    .main-header__feedback .contacts {
        padding: 15px 10px;
        justify-content: space-around;
    }
    .main-header__feedback .contacts .tel {
        padding: 10px 0;
    }
    .links a {
        margin: 10px;
    }
}

@media screen and (max-width:500px) {
    .portfolio-item__title h3 {
        margin: 19px 15px 20px 0px;
    }
    .submenu ul {
        column-count: 1;
    }
    .maps-items .maps-item .maps-item__name {
        font-size: 20px;
    }
    .main-footer__feedback .contacts .tel {
        white-space: nowrap;
    }
    .main-footer__feedback .contacts .contacts__block {
        margin-right: 18px;
        margin-bottom: 10px;
    }
    .profits-items .profits-item.profits-item--1 {
        padding: 25px 25px 25px 55px;
        text-align: left;
    }
    .profits-items .profits-item.profits-item--2 {
        padding: 25px 25px 25px 55px;
        text-align: left;
    }
    .profits-items .profits-item.profits-item--3 {
        padding: 25px 25px 25px 55px;
        text-align: left;
    }
    .profits-items .profits-item.profits-item--4 {
        padding: 25px 25px 25px 55px;
        text-align: left;
    }
    .profits-items .profits-item.profits-item--1 .profits-item__title {
        margin: 0 auto;
    }
    .profits-items .profits-item.profits-item--2 .profits-item__title {
        margin: 0 auto;
    }
    .profits-items .profits-item.profits-item--3 .profits-item__title {
        margin: 0 auto;
    }
    .profits-items .profits-item.profits-item--4 .profits-item__title {
        margin: 0 auto;
    }
    .profits-items .profits-item.profits-item--1 .profits-item__subtitle {
        margin: 10px auto;
    }
    .profits-items .profits-item.profits-item--2 .profits-item__subtitle {
        margin: 10px auto;
    }
    .profits-items .profits-item.profits-item--3 .profits-item__subtitle {
        margin: 10px auto;
    }
    .profits-items .profits-item.profits-item--4 .profits-item__subtitle {
        margin: 10px auto;
    }
    .profits-items .profits-item.profits-item--1 .profits-item__title:before {
        left: -48px;
        top: -3px;
    }
    .profits-items .profits-item.profits-item--2 .profits-item__title:before {
        left: -48px;
        top: -3px;
    }
    .profits-items .profits-item.profits-item--3 .profits-item__title:before {
        left: -48px;
        top: -3px;
    }
    .profits-items .profits-item.profits-item--4 .profits-item__title:before {
        left: -48px;
        top: -3px;
    }
}

@media screen and (max-width:400px) {
    .services .services-item {
        width: 100%;
        height: 115px;
    }
    .portfolio-item__images {
        padding: 10px 0;
    }
}